USE [master]
GO
/****** Object:  Database [sys_COMINDDB]    Script Date: 24/05/2023 04:46:20 p. m. ******/
CREATE DATABASE [sys_COMINDDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sys_COMINDDB', FILENAME = N'D:\SQLServer2022\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\sys_COMINDDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sys_COMINDDB_log', FILENAME = N'D:\SQLServer2022\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\sys_COMINDDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sys_COMINDDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sys_COMINDDB]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 24/05/2023 04:46:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[ID_ADMIN] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](15) NULL,
	[PASS] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ADMIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 24/05/2023 04:46:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[ID_EMPLEADO] [varchar](15) NOT NULL,
	[NOMBRE] [varchar](25) NULL,
	[APELLIDO] [varchar](25) NULL,
	[TELEFONO] [bigint] NULL,
	[CORREO] [varchar](35) NULL,
	[CARGO] [varchar](25) NULL,
	[ESTADO] [varchar](15) NULL,
	[ESTATUS] [varchar](15) NULL,
	[FECHA] [date] NULL,
	[DIRECCION] [varchar](55) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIOS]    Script Date: 24/05/2023 04:46:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIOS](
	[ID_HORAS] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPLEADO] [varchar](15) NOT NULL,
	[HORA_ENTRADA] [varchar](15) NOT NULL,
	[HORA_SALIDA] [varchar](15) NOT NULL,
	[FECHA] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HORAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISOS]    Script Date: 24/05/2023 04:46:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISOS](
	[ID_PERMISO] [int] NOT NULL,
	[FECHA_PERMISO] [date] NULL,
	[ID_TRABAJADOR] [varchar](15) NOT NULL,
	[FECHA_INICIO] [date] NULL,
	[FECHA_FINAL] [date] NULL,
	[TIPO] [varchar](10) NOT NULL,
	[ESTADO] [varchar](10) NOT NULL,
	[MOTIVO] [varchar](65) NULL,
	[CURP] [varchar](18) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HORARIOS]  WITH CHECK ADD FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[PERMISOS]  WITH CHECK ADD FOREIGN KEY([ID_TRABAJADOR])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
GO
USE [master]
GO
